html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

.container {
    width: 100vw;
    max-width: 2000px;
    display: flex;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 30vw;
    background-image: url("./imgs/cristofer-maximilian-uQDRDqpYJHI-unsplash.jpg");
    background-size: cover;
    height: 1000px;
    align-items: center;
}

.logo {
    display: flex;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(0, 0, 0, .4);
    color: white;
    padding: 20px 0;
    width: 30vw;
}

.logo img {
    width: 100px;
    height: auto;
}

.photo-credit {
    bottom: 25px;
    justify-content: center;
    color: white;
    margin-top: 575px;
}

.photo-credit a {
    color: white;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.header {
    background-color: lightgray;
    height: 400px;
}

.header-text {
    font-size: 1.6rem;
    margin-top: 150px;
    padding: 0 50px;
}

.form {
    height: 300px;
}